body {
    background-color: brown;
}

caption {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

caption p {
    font-size: 30px;
    font-weight: normal;
}

th {
    color: #fff;
    border-bottom: 1px solid #fff;
    
}


.A, .B, .C, .D {
    width: 150px;
    
}

td {
    background-color: #fff;
    height: 30px;
}